<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="css/checkout.css">
    <title>Product</title>
    <style>
        .navbar{
            padding: 0;
            background-color: #262626;
        }
        .navbar-nav a{
            font-size:17px;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }
        .navbar-brand{
            font-size: 45px;
        }
        .breadcumb-image{
            background-image: url('https://images.unsplash.com/photo-1605296867304-46d5465a13f1?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            height: 300px;
        }
        .breadcumb-image{
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            color: #fff;
        }
        .nav li a {
          color: #8a8a8a;
          width: auto;
          display: block;
          text-decoration: none;
          background-color: transparent;
          font-size: 12px;
          font-weight: 700;
      }
        .bg-overley{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
          .navbar.scrolled{
            background-color: #2b3636;
            transition:background-color 500ms;
        }

        #itemcart{
          display:flex;
          justify-content: center;
          flex-direction: column;
        }
      
    </style>
  </head>
  <body>
    
    <!--navbar-->
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark" id="navbarogt">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="imgs/OGTLOGO.png" width="75px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto" style="margin-right:150px">
            <li class="nav-item">
              <a class="nav-link" href="/">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/store">STORE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/notifications">NOTIFICATION</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cart">
                <i class="fas fa-2x fa-shopping-cart">
                  <span class="badge bg-primary" style="font-size:10px">
                    <% if (session.cart) { %>
                      <%= session.cart.totalQty %> 
                    <% }else{ %>
                    0
                    <% } %> 
                  </span>
                </i>
              </a>
            </li>
            <% if (currentUser) { %>
              <li class="nav-item ">
                <a class="nav-link" href="#"><span style="color:#f1eeee">WELCOME <%= (currentUser.username).toUpperCase() %></span></a>
              </li>
            <% } %>
            
          </ul>
        </div>
        </div>
    </nav>
    <!--Navbar Over-->


    
    <!--Breadcumb Section-->
   <!--  <div class="breadcumb-image">
        <div class="bg-overlay" style="background-color:transparent"></div>
        <div class="breadcumb-title">
            <h2 class="font-bold text-uppercase">checkout</h2>
        </div>
    </div> -->
    <!---Breadcumb Section over here-->
  
    <!-- Checkout Section -->
    <% if (products && products.length>0) { %>
      <div class="container" style="margin-top:200px">
        <div class="ads-grid_shop">
        <div class="shop_inner_inf">
            <div class="privacy about">

            <div class="checkout-right">
                <h4>Your shopping cart contains: <span><%= products.length %>  Products</span></h4>
                <table class="timetable_sub">
                <thead>
                    <tr>
                    <th>SL No.</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                  <% products.forEach((product,index) => { %>
                    <tr class="rem1">
                      <td class="invert"><%= index+1 %> </td>
                      <td class="invert-image"><a href="#"><img src=<%= product.item.image %>  alt=" " class="img-responsive"></a></td>
                      <td class="invert">
                          <div class="quantity">
                          <div class="quantity-select">
                              <a class="btn" href="/increase/<%= product.item._id %> "><i class="fas fa-plus"></i></a>
                              <span><%= product.qty %> </span>
                              <a class="btn" href="/reduce/<%= product.item._id %> "><i class="fas fa-minus"></i></div>
                          </div>
                          </div>
                      </td>
                      <td class="invert"><%= product.item.title %> </td>
                      <td class="invert">₹<%= product.price %> </td>
                    </tr>
                  <% }) %>
                    
                    <!-- <tr class="rem2">
                    <td class="invert">2</td>
                    <td class="invert-image"><a href="#"><img src="./imgs/bouncer.jpg" alt=" " class="img-responsive"></a></td>
                    <td class="invert">
                        <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>1</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                        </div>
                    </td>
                    <td class="invert">Bodygrip BGRIP5440 Kettlebell, 7Kg (Multicolour)...</td>

                    <td class="invert">₹856.00</td>
                    
                    </tr>
                    <tr class="rem3">
                    <td class="invert">3</td>
                    <td class="invert-image"><a href="#"><img src="./imgs/roller.jpg" alt=" " class="img-responsive"></a></td>
                    <td class="invert">
                        <div class="quantity">
                        <div class="quantity-select">
                            <div class="entry value-minus">&nbsp;</div>
                            <div class="entry value"><span>1</span></div>
                            <div class="entry value-plus active">&nbsp;</div>
                        </div>
                        </div>
                    </td>
                    <td class="invert">N&M™ Anti Skid Double Wheel AB Roller Portable...</td>

                    <td class="invert">₹299.00</td>
                    
                    </tr> -->

                </tbody>
                </table>
            </div>
            <div class="checkout-left">
                <div class="col-md-4 checkout-left-basket">
                <h4>Continue to basket</h4>
                <ul>
                   <% products.forEach((product,index) => { %>
                    <li>Product<%= index+1 %>  <i>-</i> <span>₹<%= product.price %>  </span></li>
                   <% }) %>
                    <li>Total <i>-</i> <span>₹<%= totalPrice %> </span></li>
                </ul>
                </div>
                <div class="col-md-8 address_form">
                <h4>Add a new Details</h4>
                    <section class="creditly-wrapper wrapper">
                    <div class="information-wrapper">
                        <div class="first-row form-group">
                        <div class="controls">
                            <label class="control-label">Full name: </label>
                            <input class="billing-address-name form-control" type="text" name="name" placeholder="Full name">
                        </div>
                        <div class="card_number_grids">
                            <div class="card_number_grid_left">
                            <div class="controls">
                                <label class="control-label">Mobile number:</label>
                                <input class="form-control" type="text" placeholder="Mobile number">
                            </div>
                            </div>
                            <div class="card_number_grid_right">
                            <div class="controls">
                                <label class="control-label">Landmark: </label>
                                <input class="form-control" type="text" placeholder="Landmark">
                            </div>
                            </div>
                            <div class="clear"> </div>
                        </div>
                        <div class="controls">
                            <label class="control-label">Town/City: </label>
                            <input class="form-control" type="text" placeholder="Town/City">
                        </div>
                        <div class="controls">
                            <label class="control-label">Address type: </label>
                            <select class="form-control option-w3ls">
                                                    <option>Office</option>
                                                    <option>Home</option>
                                                    <option>Commercial</option>
                    
                                                </select>
                        </div>
                        </div>
                        <button class="submit check_out">Delivery to this Address</button>
                    </div>
                    </section>
                <div class="checkout-right-basket">
                    <button class="btn btn-danger" id="checkout-button">Make a Payment </button>
                </div>
                </div>

                <div class="clearfix"> </div>


                <div class="clearfix"></div>
            </div>
            </div>
        </div>
        </div>
      </div>
    <% } else { %>
      <div class="container" style="margin-top:200px">
        <div class="row">
          <div id="itemcart" class="col-6">
            <h1 style="font-size:4rem;">NO ITEMS IN <span style="color:#6c5ce7;">CART</span></h1>
            <div>
             <a class="btn btn-lg btn-primary" href="/store"><i class="fas fa-arrow-left"></i> Go to Store Section</a>
            </div>
          </div>
          <div class="col-6">
            <div>
            <img src="imgs/emptyCart.svg" width="100%" alt="">
            </div>
          </div>
        </div>
      </div>
    <% } %> 
     
       
    <!--Checkout Section-->

    




    <!--Footer-->
    <footer class="mt-5" style="padding-top:100px;">
      <div class="container">
        <div class="row pb-2">
            <div class="col-md-12">
              <div class="d-flex justify-content-around">
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="#">Terms & Conditions</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Privacy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Refund Policy</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">COPYRIGHT <span>&#169;</span> 2020 OGT
                    </a>
                  </li>
                </ul>
                <ul class="nav">
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-facebook fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-instagram fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-telegram-plane fa-2x"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                  </li>
                  <span class="border-right" style="border-width: thick;"></span>
                </ul>
              </div>
              

            </div>
          </div>
          
      </div>
    </footer>
    <!--Footer Over here-->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/jquery-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

<!--   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script> -->
    <script>
      $(function () {
        $(document).scroll(function () {
            var $nav = $("#navbarogt");
            $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height())
        })
    })

    var stripe = Stripe("pk_test_51IhA52SJNQ4HNfwx6ce4L7E8oFXAGsmsfCCIhWn5evcLPlCU7UlJNNQbhAjgDfwAupAe41bpbc2G9p1h7jixPUF000h8erVDSA");
    var checkoutButton = document.getElementById("checkout-button");

  
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session", {
        method: "POST"
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          console.log(session);
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.

          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
    </script>
  </body>
</html>